doctype html
html
  head
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0') 
    link(rel='stylesheet', href='/stylesheets/assisted_performer.css')
    script(type="text/javascript", src="/javascripts/assisted_performer.js")
  body
    block content