doctype html
html
  head
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0') 
    link(rel='stylesheet', href='/stylesheets/canvas.css')
    script(type="text/javascript", src="/javascripts/haiku.js")
    script(type="text/javascript", src="/javascripts/canvas.js")
  body
    img(id="window_frame", src="/images/kisspng-picture-frames-decorative-arts-clip-art-photo-frame-background-png-5ab13e2b82ceb9.5893837415215652275358.png")

    img(id="autumn1_ddg_0" src="/images/autumn1_ddg/09cbc0016664ff6d37dc7d2e7ef65ebf26233edd.jpg")
    img(id="autumn1_ddg_1" src="/images/autumn1_ddg/1b40f57cf4e021bfc859c35b7e58f3eaee0059c3.jpg")
    img(id="autumn1_ddg_2" src="/images/autumn1_ddg/2807d454dc03e6812e486e2c9b84bc4c39d57261.jpg")
    img(id="autumn1_ddg_3" src="/images/autumn1_ddg/293c7f4218f6eca8fb0722161e7e94ee0746bcbe.jpg")
    img(id="autumn1_ddg_4" src="/images/autumn1_ddg/2a5c694062f664c5fb132d177d0c9498db0600d7.jpg")
    img(id="autumn1_ddg_5" src="/images/autumn1_ddg/2f115681820806178f328a3fa6667d34d4d335d7.jpg")
    img(id="autumn1_ddg_6" src="/images/autumn1_ddg/313cee583a26be9673c4b932ce98f8a165ecc75d.jpg")
    img(id="autumn1_ddg_7" src="/images/autumn1_ddg/3352b3987ea386a5dd070c44c8c4e3dd8c34d061.jpg")
    img(id="autumn1_ddg_8" src="/images/autumn1_ddg/42d86a734d7a9a602ca9446d2f1be4199f8c4873.jpg")
    img(id="autumn1_ddg_9" src="/images/autumn1_ddg/4fb2570d5ee96c7d22f3eb49e11f1d3b10977a2c.jpg")
    img(id="autumn1_ddg_10" src="/images/autumn1_ddg/66f2cee19bc777d98aa65a08c14ef4cf7ac59cc0.jpg")
    img(id="autumn1_ddg_11" src="/images/autumn1_ddg/671480cb59b4bc37150ffd9b3c4eea351f662f58.jpg")
    img(id="autumn1_ddg_12" src="/images/autumn1_ddg/6932f2bec81e00e7b831730a279d3f96c410e68c.jpg")
    img(id="autumn1_ddg_13" src="/images/autumn1_ddg/70478d518b848cd277a15449c80c817fbf4e9d69.jpg")
    img(id="autumn1_ddg_14" src="/images/autumn1_ddg/79a265bea07557353632c825f778ab57506eddaa.jpg")
    img(id="autumn1_ddg_15" src="/images/autumn1_ddg/7baa3c7d937e041d99d961aab65989da661a6132.jpg")
    img(id="autumn1_ddg_16" src="/images/autumn1_ddg/83284d2c6bc9060a779410ce280039b262cf0541.jpg")
    img(id="autumn1_ddg_17" src="/images/autumn1_ddg/8952cbce96795bb25177c21b10d15935c089b2b5.jpg")
    img(id="autumn1_ddg_18" src="/images/autumn1_ddg/8a7f7de0e950b1020f0f77e75528e99a25cdab5c.jpg")
    img(id="autumn1_ddg_19" src="/images/autumn1_ddg/8b2c44969d9996d78176c59db79c9b9e1620e3fe.jpg")
    img(id="autumn1_ddg_20" src="/images/autumn1_ddg/8b919182c4f48c5a798079b7859cd3a729e0e60a.jpg")
    img(id="autumn1_ddg_21" src="/images/autumn1_ddg/8e778f378a172ee38ebdb958196d11efdbb093d0.jpg")
    img(id="autumn1_ddg_22" src="/images/autumn1_ddg/9c0e133126d34fd6ad333c0c021dd74179c9589c.jpg")
    img(id="autumn1_ddg_23" src="/images/autumn1_ddg/9c4a9f7251d780a92a83d390db5cc962f7e6aebd.jpg")
    img(id="autumn1_ddg_24" src="/images/autumn1_ddg/a3b45d038173c08d295611fe32dd868aff9e3782.jpg")
    img(id="autumn1_ddg_25" src="/images/autumn1_ddg/a4405849d09b00e3a1fcfbf5275f9a3ce9fd1d44.jpg")
    img(id="autumn1_ddg_26" src="/images/autumn1_ddg/a61331a555d289cdd2c5836a1389c980888a2197.jpg")
    img(id="autumn1_ddg_27" src="/images/autumn1_ddg/b2362c5fbf55ae171620f9a3a306b1f16727b7d7.jpg")
    img(id="autumn1_ddg_28" src="/images/autumn1_ddg/b631195a888f570e4c343f10117f3405bd6821ee.jpg")
    img(id="autumn1_ddg_29" src="/images/autumn1_ddg/c3c3b2438fbb5d0acf5bd6f59584acaa55241802.jpg")
    img(id="autumn1_ddg_30" src="/images/autumn1_ddg/c47bee44c46ddb3aefab1146fc9e30a961ea7b97.jpg")
    img(id="autumn1_ddg_31" src="/images/autumn1_ddg/e1f3951fc53d7dcfa2d86470e0c3b5270763404e.jpg")
    img(id="autumn1_ddg_32" src="/images/autumn1_ddg/f01f10ae8c48413d67f7b313493fba1b23033bbc.jpg")
    img(id="autumn1_ddg_33" src="/images/autumn1_ddg/f36a9b481e620767a9d5272054b9b5f2d6b0e1b4.jpg")
    img(id="autumn1_ddg_34" src="/images/autumn1_ddg/f551207351eb6faa22e442801abc698fd21ee659.jpg")
    img(id="autumn1_ddg_35" src="/images/autumn1_ddg/f78622872203370c2a168862fee425bcaa9d97e9.jpg")
    img(id="autumn1_ddg_36" src="/images/autumn1_ddg/f82144bb3ab343450f52234ff0d6f8c90e179365.jpg")
    img(id="autumn2_ddg_0" src="/images/autumn2_ddg/01cc4678e99f44f92840544fd596e73793c2819e.jpg")
    img(id="autumn2_ddg_1" src="/images/autumn2_ddg/072ed0c9230206813cf2ab317f4d63f891a448fb.jpg")
    img(id="autumn2_ddg_2" src="/images/autumn2_ddg/1546b75b215a8e3b2ed16158c7e90cec67b9b83b.jpg")
    img(id="autumn2_ddg_3" src="/images/autumn2_ddg/1a19e58603fa5991a3fbf871859312aceba8a9bc.jpg")
    img(id="autumn2_ddg_4" src="/images/autumn2_ddg/25f89429177109e20bc62e2a0ab64dfe60f8f3ee.jpg")
    img(id="autumn2_ddg_5" src="/images/autumn2_ddg/2b7dcf3fbd17c8acc5aac4d802d75aca744a2a45.jpg")
    img(id="autumn2_ddg_6" src="/images/autumn2_ddg/3005e85abebc17f7f16fd09b04f30a48dbfc07dc.jpg")
    img(id="autumn2_ddg_7" src="/images/autumn2_ddg/320cfb93498d6f9c2d39b4e3687e17b2f755036b.jpg")
    img(id="autumn2_ddg_8" src="/images/autumn2_ddg/33bc7c2e1713a1c6d2a6b4eebd467c8a480a1459.jpg")
    img(id="autumn2_ddg_9" src="/images/autumn2_ddg/3aa3f2733c6a5ba821967a85c7e6b949432bf75a.jpg")
    img(id="autumn2_ddg_10" src="/images/autumn2_ddg/4b884569139e2d2249c1d180a1e3f5df0a121d57.jpg")
    img(id="autumn2_ddg_11" src="/images/autumn2_ddg/4e3a86a942e8616a6f3c75527ccda41f200b4c1c.jpg")
    img(id="autumn2_ddg_12" src="/images/autumn2_ddg/54a75577377528e4da926c3caad30bcb78345265.jpg")
    img(id="autumn2_ddg_13" src="/images/autumn2_ddg/5b50175d60ff2f7b3fd2952f0acd4055bd4d166f.jpg")
    img(id="autumn2_ddg_14" src="/images/autumn2_ddg/67b19816c4649f116b04ce7ab4085f9ceaf5e3be.jpg")
    img(id="autumn2_ddg_15" src="/images/autumn2_ddg/75e1845d1a6b8cd418b9ae6bb97b08b6a9ad2ebe.jpg")
    img(id="autumn2_ddg_16" src="/images/autumn2_ddg/8032dbe7a1f81a0778d36ec5131ad09b5fa31188.jpg")
    img(id="autumn2_ddg_17" src="/images/autumn2_ddg/83126637b3471d27c14de0e21be64301fe18e8f7.jpg")
    img(id="autumn2_ddg_18" src="/images/autumn2_ddg/837b3233f63a4c2e446ac4fb7fdc8441dec1ebe0.jpg")
    img(id="autumn2_ddg_19" src="/images/autumn2_ddg/853e249a79230311170808baa1baf386b84b6687.jpg")
    img(id="autumn2_ddg_20" src="/images/autumn2_ddg/8c0a978204a0afc97202c2af76b3c10e9b46b4e5.jpg")
    img(id="autumn2_ddg_21" src="/images/autumn2_ddg/9af325277a4ee1a6a7c49f34a6bf445fe3c5a4f8.jpg")
    img(id="autumn2_ddg_22" src="/images/autumn2_ddg/9d08e805984cb1189c8c13cd2e5318e104c965da.jpg")
    img(id="autumn2_ddg_23" src="/images/autumn2_ddg/b3bdf69dc6c256e1d44f0c5b4959bb85480a4b0d.jpg")
    img(id="autumn2_ddg_24" src="/images/autumn2_ddg/b6fe23a11dd29370e913d1f15ae1e385b53ce7a4.jpg")
    img(id="autumn2_ddg_25" src="/images/autumn2_ddg/be61168a60a72bb668d97dd094a9673c494e6456.jpg")
    img(id="autumn2_ddg_26" src="/images/autumn2_ddg/daa6cd9eebf3330548b87f33aaf21894faf46bdd.jpg")
    img(id="autumn2_ddg_27" src="/images/autumn2_ddg/dd0aead0cccc2a688e1fb7bd52e46666de2460f9.jpg")
    img(id="autumn2_ddg_28" src="/images/autumn2_ddg/e491bac10bbdb1a52d1ceec09c6c7803962ca03e.jpg")
    img(id="autumn2_ddg_29" src="/images/autumn2_ddg/e8e9632cb91ef1fd5b3e33878bf720b9767a322d.jpg")
    img(id="autumn2_ddg_30" src="/images/autumn2_ddg/e9ffcfa28f536b39f26baaba621afc6b98b917f0.jpg")
    img(id="autumn2_ddg_31" src="/images/autumn2_ddg/f0d84c21733a9d8de72b789fa89185ead6f9f7cf.jpg")
    img(id="spring1_ddg_0" src="/images/spring1_ddg/139603d290736155ed539d55fa7e72da3177ac32.jpg")
    img(id="spring1_ddg_1" src="/images/spring1_ddg/14340d2839acf3d5d467210bfd60fe4b344cb6dd.jpg")
    img(id="spring1_ddg_2" src="/images/spring1_ddg/236149f230324c44f7deb466819ca8da81a52ae2.jpg")
    img(id="spring1_ddg_3" src="/images/spring1_ddg/3e1744b2539bc0ce251a4cd9e80ecfd94df4a02f.jpg")
    img(id="spring1_ddg_4" src="/images/spring1_ddg/44c410cf1f08df0754fa77f60282a652b9722f7d.jpg")
    img(id="spring1_ddg_5" src="/images/spring1_ddg/468056ba493b4c08c0811fd278152ddfdea644d4.jpg")
    img(id="spring1_ddg_6" src="/images/spring1_ddg/4b5d714e531f76ec4cc581b353441dd732605c99.jpg")
    img(id="spring1_ddg_7" src="/images/spring1_ddg/55d404b2b7f2c205326de498175dbbdbee821a76.jpg")
    img(id="spring1_ddg_8" src="/images/spring1_ddg/6671fb7a6a8505ccb648080901b94b8dac5efefe.jpg")
    img(id="spring1_ddg_9" src="/images/spring1_ddg/7c29659cabf9dc6514a3628c02d3e0b8f377c4f0.jpg")
    img(id="spring1_ddg_10" src="/images/spring1_ddg/843f275eb1b3e327033f443d77732ea7f3bebc8c.jpg")
    img(id="spring1_ddg_11" src="/images/spring1_ddg/846534336b972504dfaa1b6c31ae2469e033313b.jpg")
    img(id="spring1_ddg_12" src="/images/spring1_ddg/8509a23c4122f735e1331c051410bd789fdd7f84.jpg")
    img(id="spring1_ddg_13" src="/images/spring1_ddg/8fbdbf3367fa6bc8165a71674bce67d375a94749.jpg")
    img(id="spring1_ddg_14" src="/images/spring1_ddg/9da01ac96a06cc5fce40046860bcc4b6c86683e0.jpg")
    img(id="spring1_ddg_15" src="/images/spring1_ddg/a05c853c4b2a90a032c269c42cdbb030bd0c9af7.jpg")
    img(id="spring1_ddg_16" src="/images/spring1_ddg/a616d6c19ee3bd0d442bae77c49a11f4dbe6c028.jpg")
    img(id="spring1_ddg_17" src="/images/spring1_ddg/b098fd248e455f4becfbdc1ebaac58b89d7db615.jpg")
    img(id="spring1_ddg_18" src="/images/spring1_ddg/c1d0ed8a2488efe6eaa670bfcf8df454528fdc5a.jpg")
    img(id="spring1_ddg_19" src="/images/spring1_ddg/d3c8d4a9f908030affaa266b10a5e13a35b18b7b.jpg")
    img(id="spring1_ddg_20" src="/images/spring1_ddg/removed")
    img(id="spring2_ddg_0" src="/images/spring2_ddg/06931946e7864a7e22a0ad1284a411374ee22d7b.jpg")
    img(id="spring2_ddg_1" src="/images/spring2_ddg/0a1c5973cc56f91829957fea0e48c5d530d224a2.jpg")
    img(id="spring2_ddg_2" src="/images/spring2_ddg/102faa8cc376a73d816c56c71e9a4612eec97926.jpg")
    img(id="spring2_ddg_3" src="/images/spring2_ddg/11e7a3f801a8cadbdbe269a5e1b3a6f6ab80bf39.jpg")
    img(id="spring2_ddg_4" src="/images/spring2_ddg/222617f42298e53fa89a33117fe3a3ed57b13ee4.jpg")
    img(id="spring2_ddg_5" src="/images/spring2_ddg/223327b843b2dccf5df18d32672614aaaace34a1.jpg")
    img(id="spring2_ddg_6" src="/images/spring2_ddg/25b09a70090e65e0d28b26af2017a649c6398cdd.jpg")
    img(id="spring2_ddg_7" src="/images/spring2_ddg/2f092341433fd5ae43b62a920690b9ea9f09fac1.jpg")
    img(id="spring2_ddg_8" src="/images/spring2_ddg/3bdfd2b59ff45c691bd760f241642c76ac74d552.jpg")
    img(id="spring2_ddg_9" src="/images/spring2_ddg/49d4e2c631c31fc0f42138e0e77ea5821266a625.jpg")
    img(id="spring2_ddg_10" src="/images/spring2_ddg/4ec9e02f36faffca185dc85150c8c975b44f8437.jpg")
    img(id="spring2_ddg_11" src="/images/spring2_ddg/5954e8b8d76f4b23b23b45550cdb1702241d6810.jpg")
    img(id="spring2_ddg_12" src="/images/spring2_ddg/5f5691869e1ba1af4cb0e611c8ae0bced9d2239b.jpg")
    img(id="spring2_ddg_13" src="/images/spring2_ddg/5f64ee01017f28791d1b15cc91f66fea84a5e885.jpg")
    img(id="spring2_ddg_14" src="/images/spring2_ddg/63a99ea910978a600455f9790cc1a3bcdd37f74d.jpg")
    img(id="spring2_ddg_15" src="/images/spring2_ddg/688b5946ec857ca86faa961c44331bec91cc9ad1.jpg")
    img(id="spring2_ddg_16" src="/images/spring2_ddg/6c79ba7dfd6c66fc9734b05703bb293f369b8e0c.jpg")
    img(id="spring2_ddg_17" src="/images/spring2_ddg/8344046104a7fb8d1e0c8fd9b87aaadba84589a9.jpg")
    img(id="spring2_ddg_18" src="/images/spring2_ddg/83c9f073d95578cb0aeaf80d678f18f079efb62e.jpg")
    img(id="spring2_ddg_19" src="/images/spring2_ddg/86c224a168b50c268e587934345f3f49e332d528.jpg")
    img(id="spring2_ddg_20" src="/images/spring2_ddg/93ed77f10b305996cda5e1da780b25c0249df15d.jpg")
    img(id="spring2_ddg_21" src="/images/spring2_ddg/9d4c748530e13605993db92b5cfc28c587dcf8f6.jpg")
    img(id="spring2_ddg_22" src="/images/spring2_ddg/ae0afc5cad11e5a7f6a42d802fd6d53d15c8e5b2.jpg")
    img(id="spring2_ddg_23" src="/images/spring2_ddg/ba72b100fec297a390d145078d70b907869f2155.jpg")
    img(id="spring2_ddg_24" src="/images/spring2_ddg/cf61c5bc61ebf1abcd927fd45a3e819a0e3d4fbc.jpg")
    img(id="spring2_ddg_25" src="/images/spring2_ddg/e1a39bedb2ca61a2a5c69fbc44a4a2b7db1476b1.jpg")
    img(id="spring2_ddg_26" src="/images/spring2_ddg/e30d89aa2fddeab01ad9e3c052444ba362e44723.jpg")
    img(id="spring2_ddg_27" src="/images/spring2_ddg/e845dcf7cd79fbc944c7b1716f71645fa3db312b.jpg")
    img(id="spring2_ddg_28" src="/images/spring2_ddg/ece6b543aebac771cac82ea0a0985a9b3bc0cdc1.jpg")
    img(id="spring2_ddg_29" src="/images/spring2_ddg/ed0da4ae33d0339e312002d801fd321b1163ea93.jpg")
    img(id="spring2_ddg_30" src="/images/spring2_ddg/ee731e44c271789d34c633738ddbca2f6956d169.jpg")
    img(id="spring2_ddg_31" src="/images/spring2_ddg/f285007d4315fa8ce8f58ea6ed847d780d7396da.jpg")
    img(id="spring3_ddg_0" src="/images/spring3_ddg/0293533f696cdf5a61c67ae7aa8d76f3f787e8ac.jpg")
    img(id="spring3_ddg_1" src="/images/spring3_ddg/0880625f8bf6887cc124d3515829fb1c1c858270.jpg")
    img(id="spring3_ddg_2" src="/images/spring3_ddg/1b30589d38936e5e82fd411841b5078754a30758.jpg")
    img(id="spring3_ddg_3" src="/images/spring3_ddg/24f6f416cf176e02618e00831094f84cb20b7d59.jpg")
    img(id="spring3_ddg_4" src="/images/spring3_ddg/253b74e0caa0daaade0e3698a0310b63840cc993.jpg")
    img(id="spring3_ddg_5" src="/images/spring3_ddg/32342408bcbedee7f86ac28d95fa6ef55a95ae92.jpg")
    img(id="spring3_ddg_6" src="/images/spring3_ddg/40c5120f35b122e946a089ce81fcc54de8df23be.jpg")
    img(id="spring3_ddg_7" src="/images/spring3_ddg/4ac7189a7ecf31d06fe24a2b03b96bed54af84cb.jpg")
    img(id="spring3_ddg_8" src="/images/spring3_ddg/4ead30a74fa5c44778d0a279f98f1fbd82a77605.jpg")
    img(id="spring3_ddg_9" src="/images/spring3_ddg/528e85b5435bd752de5c554b9c9d9630058f3c1e.jpg")
    img(id="spring3_ddg_10" src="/images/spring3_ddg/5f39228772642c2029cac64f8cb52fd591450b51.jpg")
    img(id="spring3_ddg_11" src="/images/spring3_ddg/71d9d292db338bb880e9b9dff18ef185212549f1.jpg")
    img(id="spring3_ddg_12" src="/images/spring3_ddg/910836d10ae86b9811baa06882bf74d3aa2da4b2.jpg")
    img(id="spring3_ddg_13" src="/images/spring3_ddg/9781a12fd7a33696f3edc7431b2d3b87a05a715b.jpg")
    img(id="spring3_ddg_14" src="/images/spring3_ddg/a1b6288a486dcf3509f9719853bc565b983d2c7d.jpg")
    img(id="spring3_ddg_15" src="/images/spring3_ddg/b3bb918b46abfccc75d49a7acb3aacd618080292.jpg")
    img(id="spring3_ddg_16" src="/images/spring3_ddg/bbd34b4acb595b0589ef3d9cad11262b16a94f55.jpg")
    img(id="spring3_ddg_17" src="/images/spring3_ddg/bf11323ad91fc7743abf4102f1ea5fd7526f9df0.jpg")
    img(id="spring3_ddg_18" src="/images/spring3_ddg/c5659317e40b328765f5c729b42b3665ea7f1b9a.jpg")
    img(id="spring3_ddg_19" src="/images/spring3_ddg/d2aab2e67791e90620b69d69061eeec7e3ec37fd.jpg")
    img(id="spring3_ddg_20" src="/images/spring3_ddg/dc88ba52eacac7c5d6697e576366bd1cf73b2018.jpg")
    img(id="spring3_ddg_21" src="/images/spring3_ddg/e502521b68e8bf68368b96153e38a848c5c18a2b.jpg")
    img(id="spring3_ddg_22" src="/images/spring3_ddg/f08d109e35410939cf90b4abee73346422e713e0.jpg")
    img(id="spring3_ddg_23" src="/images/spring3_ddg/f70c463b3913ae5ac37009cff2a300c77c0432b0.jpg")
    img(id="spring3_ddg_24" src="/images/spring3_ddg/f71524582e0b99e3a2cc3622e37edd6affc31c2f.jpg")
    img(id="spring3_ddg_25" src="/images/spring3_ddg/removed")
    img(id="summer1_ddg_0" src="/images/summer1_ddg/0d2e7c4f15a22a02f300272bfde44f627faf0218.jpg")
    img(id="summer1_ddg_1" src="/images/summer1_ddg/1cf75a16c6a0292bfd964400522c1ee5bd4089cf.jpg")
    img(id="summer1_ddg_2" src="/images/summer1_ddg/2d80097329cff15388aeafc30f49a89b67b72af8.jpg")
    img(id="summer1_ddg_3" src="/images/summer1_ddg/313bd6257711263e2ac33dd1b0f020aca4bbb05e.jpg")
    img(id="summer1_ddg_4" src="/images/summer1_ddg/367fc37006f4f2d7abfe297782f2a2ec130dc4c5.jpg")
    img(id="summer1_ddg_5" src="/images/summer1_ddg/3c09617a3dce26a081e4989870b24bc7b11bdfc8.jpg")
    img(id="summer1_ddg_6" src="/images/summer1_ddg/501699aeb1fb591fb85a51316f665d03440ff436.jpg")
    img(id="summer1_ddg_7" src="/images/summer1_ddg/50a471e59a6f4af0ef84bf57d4e873cf8ab35a54.jpg")
    img(id="summer1_ddg_8" src="/images/summer1_ddg/603f7315efb78010545cfc1895a383a11c4dec7b.jpg")
    img(id="summer1_ddg_9" src="/images/summer1_ddg/611988381855f8abf31ead04b57cd0aab8a5db69.jpg")
    img(id="summer1_ddg_10" src="/images/summer1_ddg/62e0e7f9bf292e271649fc672c61c02ecef6212a.jpg")
    img(id="summer1_ddg_11" src="/images/summer1_ddg/6820dd21b396137feaad71bf3864aee5b5b90513.jpg")
    img(id="summer1_ddg_12" src="/images/summer1_ddg/6f2c2b0417747e97f7211d9059c2365c8644ac5e.jpg")
    img(id="summer1_ddg_13" src="/images/summer1_ddg/71229f05da2a0f0fe656309a2ead7d9433342503.jpg")
    img(id="summer1_ddg_14" src="/images/summer1_ddg/7e329ea0c1054723cede28df0f0267163d056b87.jpg")
    img(id="summer1_ddg_15" src="/images/summer1_ddg/9a2a3f76b10cc758d4c3e73535167cca57c13fe5.jpg")
    img(id="summer1_ddg_16" src="/images/summer1_ddg/9caf9ba0f1c68ac12e551b5fbb59a6d473256fcf.jpg")
    img(id="summer1_ddg_17" src="/images/summer1_ddg/9d1e0a6e59915dd9d03480513088f7926ed98e4b.jpg")
    img(id="summer1_ddg_18" src="/images/summer1_ddg/cbfaf46f7eb98a8ea77ae8ead9493ab9f764a4ad.jpg")
    img(id="summer1_ddg_19" src="/images/summer1_ddg/d0464e319fd6c8c93c333060ba928ad886afa47e.jpg")
    img(id="summer1_ddg_20" src="/images/summer1_ddg/d61a3e59591c04040e2882ff0dcbc0b58eb0f65a.jpg")
    img(id="summer1_ddg_21" src="/images/summer1_ddg/e3dcb333069abd5d731bb5423f233aa92712daac.jpg")
    img(id="summer1_ddg_22" src="/images/summer1_ddg/f0290acfbb87f7f16a34aea92a6543256bd88657.jpg")
    img(id="summer1_ddg_23" src="/images/summer1_ddg/fa6c5a17c330927a7706d82711f4c8b1dc0eab2d.jpg")
    img(id="summer1_ddg_24" src="/images/summer1_ddg/removed")
    img(id="summer2_ddg_0" src="/images/summer2_ddg/0a45079db292f6e899080159a6982714be863f3b.jpg")
    img(id="summer2_ddg_1" src="/images/summer2_ddg/0ced7569bc16ea3a935f757116d9ab2b58bb3086.jpg")
    img(id="summer2_ddg_2" src="/images/summer2_ddg/0ea84eef5a3eac341fb15b0e4830009d7d08aba3.jpg")
    img(id="summer2_ddg_3" src="/images/summer2_ddg/0fed64ceac84624260bdb7cdbb899d79679d6493.jpg")
    img(id="summer2_ddg_4" src="/images/summer2_ddg/151268ccca942f602d8e08e937d3b4a1167e374d.jpg")
    img(id="summer2_ddg_5" src="/images/summer2_ddg/18cb1c13b8b6dc999c6e068258e53d750c2727b9.jpg")
    img(id="summer2_ddg_6" src="/images/summer2_ddg/2e6b24c5e160cba050da1f5e8c1df930666bbabd.jpg")
    img(id="summer2_ddg_7" src="/images/summer2_ddg/2fa57cdeaba783cd8294d3fea6717fd11cd1a802.jpg")
    img(id="summer2_ddg_8" src="/images/summer2_ddg/349d0835d459f73c977cd15df4d781cfa191b14e.jpg")
    img(id="summer2_ddg_9" src="/images/summer2_ddg/36880a1693923de51a3edc4630af8fee17b4c6e3.jpg")
    img(id="summer2_ddg_10" src="/images/summer2_ddg/3995b32ece70871b9647419c78523db1671bc7d0.jpg")
    img(id="summer2_ddg_11" src="/images/summer2_ddg/3ff65a35b44988e65225635d09b88a9aca2c9372.jpg")
    img(id="summer2_ddg_12" src="/images/summer2_ddg/480ef6dca9fedbd0623d01dc9a962ead3d87f8ae.jpg")
    img(id="summer2_ddg_13" src="/images/summer2_ddg/50932a89aaeaf53a218b6021be55bbe4f4e302ec.jpg")
    img(id="summer2_ddg_14" src="/images/summer2_ddg/50fa3cd9eb6ba73b8ef6423508dbf8ff15d4ae74.jpg")
    img(id="summer2_ddg_15" src="/images/summer2_ddg/51a830a7b134bece4f1c4b1392ce95fba85e7640.jpg")
    img(id="summer2_ddg_16" src="/images/summer2_ddg/5906299d1b5b93738a197401f63f9591255cee35.jpg")
    img(id="summer2_ddg_17" src="/images/summer2_ddg/59a1e547a13a11fa59f59ed03ab33423b7997088.jpg")
    img(id="summer2_ddg_18" src="/images/summer2_ddg/5af14579b7a947a395065127e71ddcd386c4629c.jpg")
    img(id="summer2_ddg_19" src="/images/summer2_ddg/6ccb20a0b1a8c17da85b14edb72ccf0f9781e890.jpg")
    img(id="summer2_ddg_20" src="/images/summer2_ddg/7ba8e50a969ac97afda7c56f75c1e07e8948e333.jpg")
    img(id="summer2_ddg_21" src="/images/summer2_ddg/7cf5a1c7f8daebf199caf46fa96db8a648786886.jpg")
    img(id="summer2_ddg_22" src="/images/summer2_ddg/80e92ac80fca3519f124983bcdae5e2086f46738.jpg")
    img(id="summer2_ddg_23" src="/images/summer2_ddg/83664129b4b1b909e54394b82b44452fdaa81afc.jpg")
    img(id="summer2_ddg_24" src="/images/summer2_ddg/92b174739c7105898512232c8335e4c2d08e40e0.jpg")
    img(id="summer2_ddg_25" src="/images/summer2_ddg/b7a7546838a34c8c50342aab643541dd8f977f8c.jpg")
    img(id="summer2_ddg_26" src="/images/summer2_ddg/c16396e5d0df778dbe150d15ee374101a0226fd4.jpg")
    img(id="summer2_ddg_27" src="/images/summer2_ddg/c7bba273fde4bf69eb54fb42950df8f81b13b8c6.jpg")
    img(id="summer2_ddg_28" src="/images/summer2_ddg/c96491ab4eef0d7dd36ffccf7ef793f0c2a696b1.jpg")
    img(id="summer2_ddg_29" src="/images/summer2_ddg/cde7fa5720dc50d6c70146f32c9fabdb2047570e.jpg")
    img(id="summer2_ddg_30" src="/images/summer2_ddg/e15df98460ba49119d56aa56746f1a1a66af02fd.jpg")
    img(id="summer2_ddg_31" src="/images/summer2_ddg/e2aeb5fac261aa262dd7bd2e97a05cee21e38af5.jpg")
    img(id="summer2_ddg_32" src="/images/summer2_ddg/e3511726344b14a8c4ff0c09f6246ad753c36878.jpg")
    img(id="summer2_ddg_33" src="/images/summer2_ddg/e5f8b4d7347fc479c8bed5054f8a03af40ecd319.jpg")
    img(id="summer2_ddg_34" src="/images/summer2_ddg/e9acbd20c8b70af8e3034fc07319db47a2f49900.jpg")
    img(id="summer2_ddg_35" src="/images/summer2_ddg/fad93bb515322a0538fb56e91ada8d56070d1eff.jpg")
    img(id="winter1_ddg_0" src="/images/winter1_ddg/0624988c359a6491f9da2dc8ce4918d3d08c96d0.jpg")
    img(id="winter1_ddg_1" src="/images/winter1_ddg/0e218dc66e89a39f2ccb4e1e9185d2abe18e6965.jpg")
    img(id="winter1_ddg_2" src="/images/winter1_ddg/179b411e29dd886951729ad245e8120fc09a7308.jpg")
    img(id="winter1_ddg_3" src="/images/winter1_ddg/28c03a3031bacb79af7ff8127bcfd59edd9a18d2.jpg")
    img(id="winter1_ddg_4" src="/images/winter1_ddg/3ae64db53255b2e5a1de3ab192c5c1e3dd6e0b2f.jpg")
    img(id="winter1_ddg_5" src="/images/winter1_ddg/403b4a1c4be087e3c4d1533e0a682157efa38504.jpg")
    img(id="winter1_ddg_6" src="/images/winter1_ddg/5083376ebbef71fcd51527092097f3c143168dd3.jpg")
    img(id="winter1_ddg_7" src="/images/winter1_ddg/53cf5b7188bece240c37c840c46f2eef2a770a43.jpg")
    img(id="winter1_ddg_8" src="/images/winter1_ddg/5b64264b09c6209ba44504732940866511805eaf.jpg")
    img(id="winter1_ddg_9" src="/images/winter1_ddg/60ef66b10aaa9fb2e17f3430ec747c342c392151.jpg")
    img(id="winter1_ddg_10" src="/images/winter1_ddg/6231b68078d75abda452649031f0c82718f5e106.jpg")
    img(id="winter1_ddg_11" src="/images/winter1_ddg/633c07afc1c039073797321f5fe2fe2e854f496e.jpg")
    img(id="winter1_ddg_12" src="/images/winter1_ddg/67f6cd15aa97e73a633abdfe788f7d7d8c7c8795.jpg")
    img(id="winter1_ddg_13" src="/images/winter1_ddg/722d6250471349ae715d3a1b9b09acbdfb4707fd.jpg")
    img(id="winter1_ddg_14" src="/images/winter1_ddg/80f50fe34ba2165e36bc28b40792b9f6f9969218.jpg")
    img(id="winter1_ddg_15" src="/images/winter1_ddg/86136be803c071b382a58ac23ef0d366a731a517.jpg")
    img(id="winter1_ddg_16" src="/images/winter1_ddg/8c040693725e21b42262a322404892bd33d4e58c.jpg")
    img(id="winter1_ddg_17" src="/images/winter1_ddg/8e63955d075985dcfc43faa626ad5703146dee49.jpg")
    img(id="winter1_ddg_18" src="/images/winter1_ddg/9a2c08a6dfc25f795064cf448cee011d9f7629e2.jpg")
    img(id="winter1_ddg_19" src="/images/winter1_ddg/9cd1a90378d9a2647d50b974b5be67102e800851.jpg")
    img(id="winter1_ddg_20" src="/images/winter1_ddg/9d5fb90e10a7040347ad40f9eb41d543f26c4791.jpg")
    img(id="winter1_ddg_21" src="/images/winter1_ddg/9f953acabd56e781474884a151a14f10c4e15b23.jpg")
    img(id="winter1_ddg_22" src="/images/winter1_ddg/a32ecd23a14f497ae723bafddd4328290dbe60e9.jpg")
    img(id="winter1_ddg_23" src="/images/winter1_ddg/ad2e0d39958900267206e21ef157334e74e428c7.jpg")
    img(id="winter1_ddg_24" src="/images/winter1_ddg/b8b59322da056affded6f557d190e6c15be2e84f.jpg")
    img(id="winter1_ddg_25" src="/images/winter1_ddg/c56d11c41323d1ed1725113d228e7cbabf092293.jpg")
    img(id="winter1_ddg_26" src="/images/winter1_ddg/c6bb95677a8b4f817a7eca393796abf48b673e81.jpg")
    img(id="winter1_ddg_27" src="/images/winter1_ddg/ca2dd7d1f0d751e260816314fd642f89049a3d8c.jpg")
    img(id="winter1_ddg_28" src="/images/winter1_ddg/cd51b8ee5dede2bb9db8bc70de106f1b3778dd76.jpg")
    img(id="winter1_ddg_29" src="/images/winter1_ddg/d3367e91483555aba3b75423d36cc9fc98c4bb37.jpg")
    img(id="winter1_ddg_30" src="/images/winter1_ddg/da5214b0f417e120e3f01af9f8cba89d0305fbe0.jpg")
    img(id="winter1_ddg_31" src="/images/winter1_ddg/dd76f1f388994790cb4ed6958a2c628152a44392.jpg")
    img(id="winter1_ddg_32" src="/images/winter1_ddg/df79232e6a4ca38dbb40b10d126ceb2287795541.jpg")
    img(id="winter1_ddg_33" src="/images/winter1_ddg/e48137a54328f4553477482e43c6937f5dcd588e.jpg")
    img(id="winter1_ddg_34" src="/images/winter1_ddg/e48871e5cd9280f35c0055369b164d86341cb4f9.jpg")
    img(id="winter1_ddg_35" src="/images/winter1_ddg/e708d95d9b837a114c5b39ffdf2240fcd9a9b18f.jpg")
    img(id="winter1_ddg_36" src="/images/winter1_ddg/e825d93528d43dcefb745a902136d51639491aab.jpg")
    img(id="winter1_ddg_37" src="/images/winter1_ddg/f1e098752caaad1092a37f31c71e138ec3682b17.jpg")
