doctype html
html
  head
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0') 
    link(rel='stylesheet', href='/stylesheets/canvas.css')
    script(type="text/javascript", src="/javascripts/haiku.js")
    script(type="text/javascript", src="/javascripts/canvas.js")
  body
    img(id="Spring1", src="/images/blossom-blossoms-blue-72161.jpg")
    img(id="Spring2", src="/images/dew-droplets-flower-94847.jpg")
    img(id="Spring3", src="/images/beautiful-bloom-blooming-414083.jpg")
    img(id="window_frame", src="/images/kisspng-picture-frames-decorative-arts-clip-art-photo-frame-background-png-5ab13e2b82ceb9.5893837415215652275358.png")
    img(id="spring_ddg_0", src="/images/spring_ddg/1b30589d38936e5e82fd411841b5078754a30758.jpg")
    img(id="spring_ddg_1", src="/images/spring_ddg/4ead30a74fa5c44778d0a279f98f1fbd82a77605.jpg")
    img(id="spring_ddg_2", src="/images/spring_ddg/5f39228772642c2029cac64f8cb52fd591450b51.jpg")
    img(id="spring_ddg_3", src="/images/spring_ddg/253b74e0caa0daaade0e3698a0310b63840cc993.jpg")
    img(id="spring_ddg_4", src="/images/spring_ddg/528e85b5435bd752de5c554b9c9d9630058f3c1e.jpg")
    img(id="spring_ddg_5", src="/images/spring_ddg/9781a12fd7a33696f3edc7431b2d3b87a05a715b.jpg")
    img(id="spring_ddg_6", src="/images/spring_ddg/910836d10ae86b9811baa06882bf74d3aa2da4b2.jpg")
    img(id="spring_ddg_7", src="/images/spring_ddg/32342408bcbedee7f86ac28d95fa6ef55a95ae92.jpg")
    img(id="spring_ddg_8", src="/images/spring_ddg/a1b6288a486dcf3509f9719853bc565b983d2c7d.jpg")
    img(id="spring_ddg_9", src="/images/spring_ddg/b3bb918b46abfccc75d49a7acb3aacd618080292.jpg")
    img(id="spring_ddg_10", src="/images/spring_ddg/bbd34b4acb595b0589ef3d9cad11262b16a94f55.jpg")
    img(id="spring_ddg_11", src="/images/spring_ddg/bf11323ad91fc7743abf4102f1ea5fd7526f9df0.jpg")
    img(id="spring_ddg_12", src="/images/spring_ddg/e502521b68e8bf68368b96153e38a848c5c18a2b.jpg")
    img(id="spring_ddg_13", src="/images/spring_ddg/f70c463b3913ae5ac37009cff2a300c77c0432b0.jpg")

