doctype html
html
  head
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0') 
    link(rel='stylesheet', href='/stylesheets/canvas.css')
    script(type="text/javascript", src="/javascripts/haiku.js")
    script(type="text/javascript", src="/javascripts/canvas.js")
  body
    img(id="window_frame", src="/images/kisspng-picture-frames-decorative-arts-clip-art-photo-frame-background-png-5ab13e2b82ceb9.5893837415215652275358.png")
    img(id="autumn1_ddg_0" src="/images/autumn1_ddg/09cbc0016664ff6d37dc7d2e7ef65ebf26233edd.jpg")
    img(id="autumn1_ddg_1" src="/images/autumn1_ddg/1b40f57cf4e021bfc859c35b7e58f3eaee0059c3.jpg")
    img(id="autumn1_ddg_2" src="/images/autumn1_ddg/2807d454dc03e6812e486e2c9b84bc4c39d57261.jpg")
    img(id="autumn1_ddg_3" src="/images/autumn1_ddg/293c7f4218f6eca8fb0722161e7e94ee0746bcbe.jpg")
    img(id="autumn1_ddg_4" src="/images/autumn1_ddg/2a5c694062f664c5fb132d177d0c9498db0600d7.jpg")
    img(id="autumn1_ddg_5" src="/images/autumn1_ddg/2f115681820806178f328a3fa6667d34d4d335d7.jpg")
    img(id="autumn1_ddg_6" src="/images/autumn1_ddg/313cee583a26be9673c4b932ce98f8a165ecc75d.jpg")
    img(id="autumn1_ddg_7" src="/images/autumn1_ddg/3352b3987ea386a5dd070c44c8c4e3dd8c34d061.jpg")
    img(id="autumn1_ddg_8" src="/images/autumn1_ddg/42d86a734d7a9a602ca9446d2f1be4199f8c4873.jpg")
    img(id="autumn1_ddg_9" src="/images/autumn1_ddg/4fb2570d5ee96c7d22f3eb49e11f1d3b10977a2c.jpg")
    img(id="autumn1_ddg_10" src="/images/autumn1_ddg/66f2cee19bc777d98aa65a08c14ef4cf7ac59cc0.jpg")
    img(id="autumn1_ddg_11" src="/images/autumn1_ddg/671480cb59b4bc37150ffd9b3c4eea351f662f58.jpg")
    img(id="autumn1_ddg_12" src="/images/autumn1_ddg/6932f2bec81e00e7b831730a279d3f96c410e68c.jpg")
    img(id="autumn1_ddg_13" src="/images/autumn1_ddg/70478d518b848cd277a15449c80c817fbf4e9d69.jpg")
    img(id="autumn1_ddg_14" src="/images/autumn1_ddg/79a265bea07557353632c825f778ab57506eddaa.jpg")
    img(id="autumn1_ddg_15" src="/images/autumn1_ddg/7baa3c7d937e041d99d961aab65989da661a6132.jpg")
    img(id="autumn1_ddg_16" src="/images/autumn1_ddg/83284d2c6bc9060a779410ce280039b262cf0541.jpg")
    img(id="autumn1_ddg_17" src="/images/autumn1_ddg/8952cbce96795bb25177c21b10d15935c089b2b5.jpg")
    img(id="autumn1_ddg_18" src="/images/autumn1_ddg/8a7f7de0e950b1020f0f77e75528e99a25cdab5c.jpg")
    img(id="autumn1_ddg_19" src="/images/autumn1_ddg/8b2c44969d9996d78176c59db79c9b9e1620e3fe.jpg")
    img(id="autumn1_ddg_20" src="/images/autumn1_ddg/8b919182c4f48c5a798079b7859cd3a729e0e60a.jpg")
    img(id="autumn1_ddg_21" src="/images/autumn1_ddg/8e778f378a172ee38ebdb958196d11efdbb093d0.jpg")
    img(id="autumn1_ddg_22" src="/images/autumn1_ddg/9c0e133126d34fd6ad333c0c021dd74179c9589c.jpg")
    img(id="autumn1_ddg_23" src="/images/autumn1_ddg/9c4a9f7251d780a92a83d390db5cc962f7e6aebd.jpg")
    img(id="autumn1_ddg_24" src="/images/autumn1_ddg/a3b45d038173c08d295611fe32dd868aff9e3782.jpg")
    img(id="autumn1_ddg_25" src="/images/autumn1_ddg/a4405849d09b00e3a1fcfbf5275f9a3ce9fd1d44.jpg")
    img(id="autumn1_ddg_26" src="/images/autumn1_ddg/a61331a555d289cdd2c5836a1389c980888a2197.jpg")
    img(id="autumn1_ddg_27" src="/images/autumn1_ddg/b2362c5fbf55ae171620f9a3a306b1f16727b7d7.jpg")
    img(id="autumn1_ddg_28" src="/images/autumn1_ddg/b631195a888f570e4c343f10117f3405bd6821ee.jpg")
    img(id="autumn1_ddg_29" src="/images/autumn1_ddg/c3c3b2438fbb5d0acf5bd6f59584acaa55241802.jpg")
    img(id="autumn1_ddg_30" src="/images/autumn1_ddg/c47bee44c46ddb3aefab1146fc9e30a961ea7b97.jpg")
    img(id="autumn1_ddg_31" src="/images/autumn1_ddg/e1f3951fc53d7dcfa2d86470e0c3b5270763404e.jpg")
    img(id="autumn1_ddg_32" src="/images/autumn1_ddg/f01f10ae8c48413d67f7b313493fba1b23033bbc.jpg")
    img(id="autumn1_ddg_33" src="/images/autumn1_ddg/f36a9b481e620767a9d5272054b9b5f2d6b0e1b4.jpg")
    img(id="autumn1_ddg_34" src="/images/autumn1_ddg/f551207351eb6faa22e442801abc698fd21ee659.jpg")
    img(id="autumn1_ddg_35" src="/images/autumn1_ddg/f78622872203370c2a168862fee425bcaa9d97e9.jpg")
    img(id="autumn1_ddg_36" src="/images/autumn1_ddg/f82144bb3ab343450f52234ff0d6f8c90e179365.jpg")
    img(id="spring1_ddg_0" src="/images/spring1_ddg/06931946e7864a7e22a0ad1284a411374ee22d7b.jpg")
    img(id="spring1_ddg_1" src="/images/spring1_ddg/0a1c5973cc56f91829957fea0e48c5d530d224a2.jpg")
    img(id="spring1_ddg_2" src="/images/spring1_ddg/102faa8cc376a73d816c56c71e9a4612eec97926.jpg")
    img(id="spring1_ddg_3" src="/images/spring1_ddg/11e7a3f801a8cadbdbe269a5e1b3a6f6ab80bf39.jpg")
    img(id="spring1_ddg_4" src="/images/spring1_ddg/222617f42298e53fa89a33117fe3a3ed57b13ee4.jpg")
    img(id="spring1_ddg_5" src="/images/spring1_ddg/223327b843b2dccf5df18d32672614aaaace34a1.jpg")
    img(id="spring1_ddg_6" src="/images/spring1_ddg/25b09a70090e65e0d28b26af2017a649c6398cdd.jpg")
    img(id="spring1_ddg_7" src="/images/spring1_ddg/2f092341433fd5ae43b62a920690b9ea9f09fac1.jpg")
    img(id="spring1_ddg_8" src="/images/spring1_ddg/3bdfd2b59ff45c691bd760f241642c76ac74d552.jpg")
    img(id="spring1_ddg_9" src="/images/spring1_ddg/49d4e2c631c31fc0f42138e0e77ea5821266a625.jpg")
    img(id="spring1_ddg_10" src="/images/spring1_ddg/4ec9e02f36faffca185dc85150c8c975b44f8437.jpg")
    img(id="spring1_ddg_11" src="/images/spring1_ddg/5954e8b8d76f4b23b23b45550cdb1702241d6810.jpg")
    img(id="spring1_ddg_12" src="/images/spring1_ddg/5f5691869e1ba1af4cb0e611c8ae0bced9d2239b.jpg")
    img(id="spring1_ddg_13" src="/images/spring1_ddg/5f64ee01017f28791d1b15cc91f66fea84a5e885.jpg")
    img(id="spring1_ddg_14" src="/images/spring1_ddg/63a99ea910978a600455f9790cc1a3bcdd37f74d.jpg")
    img(id="spring1_ddg_15" src="/images/spring1_ddg/688b5946ec857ca86faa961c44331bec91cc9ad1.jpg")
    img(id="spring1_ddg_16" src="/images/spring1_ddg/6c79ba7dfd6c66fc9734b05703bb293f369b8e0c.jpg")
    img(id="spring1_ddg_17" src="/images/spring1_ddg/8344046104a7fb8d1e0c8fd9b87aaadba84589a9.jpg")
    img(id="spring1_ddg_18" src="/images/spring1_ddg/83c9f073d95578cb0aeaf80d678f18f079efb62e.jpg")
    img(id="spring1_ddg_19" src="/images/spring1_ddg/86c224a168b50c268e587934345f3f49e332d528.jpg")
    img(id="spring1_ddg_20" src="/images/spring1_ddg/93ed77f10b305996cda5e1da780b25c0249df15d.jpg")
    img(id="spring1_ddg_21" src="/images/spring1_ddg/9d4c748530e13605993db92b5cfc28c587dcf8f6.jpg")
    img(id="spring1_ddg_22" src="/images/spring1_ddg/ae0afc5cad11e5a7f6a42d802fd6d53d15c8e5b2.jpg")
    img(id="spring1_ddg_23" src="/images/spring1_ddg/ba72b100fec297a390d145078d70b907869f2155.jpg")
    img(id="spring1_ddg_24" src="/images/spring1_ddg/cf61c5bc61ebf1abcd927fd45a3e819a0e3d4fbc.jpg")
    img(id="spring1_ddg_25" src="/images/spring1_ddg/e1a39bedb2ca61a2a5c69fbc44a4a2b7db1476b1.jpg")
    img(id="spring1_ddg_26" src="/images/spring1_ddg/e30d89aa2fddeab01ad9e3c052444ba362e44723.jpg")
    img(id="spring1_ddg_27" src="/images/spring1_ddg/e845dcf7cd79fbc944c7b1716f71645fa3db312b.jpg")
    img(id="spring1_ddg_28" src="/images/spring1_ddg/ece6b543aebac771cac82ea0a0985a9b3bc0cdc1.jpg")
    img(id="spring1_ddg_29" src="/images/spring1_ddg/ed0da4ae33d0339e312002d801fd321b1163ea93.jpg")
    img(id="spring1_ddg_30" src="/images/spring1_ddg/ee731e44c271789d34c633738ddbca2f6956d169.jpg")
    img(id="spring1_ddg_31" src="/images/spring1_ddg/f285007d4315fa8ce8f58ea6ed847d780d7396da.jpg")
    img(id="spring3_ddg_0" src="/images/spring3_ddg/0293533f696cdf5a61c67ae7aa8d76f3f787e8ac.jpg")
    img(id="spring3_ddg_1" src="/images/spring3_ddg/0880625f8bf6887cc124d3515829fb1c1c858270.jpg")
    img(id="spring3_ddg_2" src="/images/spring3_ddg/1b30589d38936e5e82fd411841b5078754a30758.jpg")
    img(id="spring3_ddg_3" src="/images/spring3_ddg/24f6f416cf176e02618e00831094f84cb20b7d59.jpg")
    img(id="spring3_ddg_4" src="/images/spring3_ddg/253b74e0caa0daaade0e3698a0310b63840cc993.jpg")
    img(id="spring3_ddg_5" src="/images/spring3_ddg/32342408bcbedee7f86ac28d95fa6ef55a95ae92.jpg")
    img(id="spring3_ddg_6" src="/images/spring3_ddg/40c5120f35b122e946a089ce81fcc54de8df23be.jpg")
    img(id="spring3_ddg_7" src="/images/spring3_ddg/4ac7189a7ecf31d06fe24a2b03b96bed54af84cb.jpg")
    img(id="spring3_ddg_8" src="/images/spring3_ddg/4ead30a74fa5c44778d0a279f98f1fbd82a77605.jpg")
    img(id="spring3_ddg_9" src="/images/spring3_ddg/528e85b5435bd752de5c554b9c9d9630058f3c1e.jpg")
    img(id="spring3_ddg_10" src="/images/spring3_ddg/5f39228772642c2029cac64f8cb52fd591450b51.jpg")
    img(id="spring3_ddg_11" src="/images/spring3_ddg/71d9d292db338bb880e9b9dff18ef185212549f1.jpg")
    img(id="spring3_ddg_12" src="/images/spring3_ddg/910836d10ae86b9811baa06882bf74d3aa2da4b2.jpg")
    img(id="spring3_ddg_13" src="/images/spring3_ddg/9781a12fd7a33696f3edc7431b2d3b87a05a715b.jpg")
    img(id="spring3_ddg_14" src="/images/spring3_ddg/9e4a2087c517c2d5f8caa23d761ccc981e873baf.jpg")
    img(id="spring3_ddg_15" src="/images/spring3_ddg/a1b6288a486dcf3509f9719853bc565b983d2c7d.jpg")
    img(id="spring3_ddg_16" src="/images/spring3_ddg/b3bb918b46abfccc75d49a7acb3aacd618080292.jpg")
    img(id="spring3_ddg_17" src="/images/spring3_ddg/bbd34b4acb595b0589ef3d9cad11262b16a94f55.jpg")
    img(id="spring3_ddg_18" src="/images/spring3_ddg/bf11323ad91fc7743abf4102f1ea5fd7526f9df0.jpg")
    img(id="spring3_ddg_19" src="/images/spring3_ddg/c5659317e40b328765f5c729b42b3665ea7f1b9a.jpg")
    img(id="spring3_ddg_20" src="/images/spring3_ddg/d2aab2e67791e90620b69d69061eeec7e3ec37fd.jpg")
    img(id="spring3_ddg_21" src="/images/spring3_ddg/dc88ba52eacac7c5d6697e576366bd1cf73b2018.jpg")
    img(id="spring3_ddg_22" src="/images/spring3_ddg/e502521b68e8bf68368b96153e38a848c5c18a2b.jpg")
    img(id="spring3_ddg_23" src="/images/spring3_ddg/f08d109e35410939cf90b4abee73346422e713e0.jpg")
    img(id="spring3_ddg_24" src="/images/spring3_ddg/f70c463b3913ae5ac37009cff2a300c77c0432b0.jpg")
    img(id="spring3_ddg_25" src="/images/spring3_ddg/f71524582e0b99e3a2cc3622e37edd6affc31c2f.jpg")
    img(id="summer1_ddg_0" src="/images/summer1_ddg/0d2e7c4f15a22a02f300272bfde44f627faf0218.jpg")
    img(id="summer1_ddg_1" src="/images/summer1_ddg/1cf75a16c6a0292bfd964400522c1ee5bd4089cf.jpg")
    img(id="summer1_ddg_2" src="/images/summer1_ddg/2d80097329cff15388aeafc30f49a89b67b72af8.jpg")
    img(id="summer1_ddg_3" src="/images/summer1_ddg/313bd6257711263e2ac33dd1b0f020aca4bbb05e.jpg")
    img(id="summer1_ddg_4" src="/images/summer1_ddg/367fc37006f4f2d7abfe297782f2a2ec130dc4c5.jpg")
    img(id="summer1_ddg_5" src="/images/summer1_ddg/3c09617a3dce26a081e4989870b24bc7b11bdfc8.jpg")
    img(id="summer1_ddg_6" src="/images/summer1_ddg/501699aeb1fb591fb85a51316f665d03440ff436.jpg")
    img(id="summer1_ddg_7" src="/images/summer1_ddg/50a471e59a6f4af0ef84bf57d4e873cf8ab35a54.jpg")
    img(id="summer1_ddg_8" src="/images/summer1_ddg/5ef66c99787af5c36ea5df9bdf531f1571ff33bf.jpg")
    img(id="summer1_ddg_9" src="/images/summer1_ddg/603f7315efb78010545cfc1895a383a11c4dec7b.jpg")
    img(id="summer1_ddg_10" src="/images/summer1_ddg/611988381855f8abf31ead04b57cd0aab8a5db69.jpg")
    img(id="summer1_ddg_11" src="/images/summer1_ddg/62e0e7f9bf292e271649fc672c61c02ecef6212a.jpg")
    img(id="summer1_ddg_12" src="/images/summer1_ddg/6820dd21b396137feaad71bf3864aee5b5b90513.jpg")
    img(id="summer1_ddg_13" src="/images/summer1_ddg/6f2c2b0417747e97f7211d9059c2365c8644ac5e.jpg")
    img(id="summer1_ddg_14" src="/images/summer1_ddg/71229f05da2a0f0fe656309a2ead7d9433342503.jpg")
    img(id="summer1_ddg_15" src="/images/summer1_ddg/7deb5cb1812ab5b94557d679fb06e4b441490e14.jpg")
    img(id="summer1_ddg_16" src="/images/summer1_ddg/7e329ea0c1054723cede28df0f0267163d056b87.jpg")
    img(id="summer1_ddg_17" src="/images/summer1_ddg/9a2a3f76b10cc758d4c3e73535167cca57c13fe5.jpg")
    img(id="summer1_ddg_18" src="/images/summer1_ddg/9caf9ba0f1c68ac12e551b5fbb59a6d473256fcf.jpg")
    img(id="summer1_ddg_19" src="/images/summer1_ddg/9d1e0a6e59915dd9d03480513088f7926ed98e4b.jpg")
    img(id="summer1_ddg_20" src="/images/summer1_ddg/cbfaf46f7eb98a8ea77ae8ead9493ab9f764a4ad.jpg")
    img(id="summer1_ddg_21" src="/images/summer1_ddg/d0464e319fd6c8c93c333060ba928ad886afa47e.jpg")
    img(id="summer1_ddg_22" src="/images/summer1_ddg/d61a3e59591c04040e2882ff0dcbc0b58eb0f65a.jpg")
    img(id="summer1_ddg_23" src="/images/summer1_ddg/e3dcb333069abd5d731bb5423f233aa92712daac.jpg")
    img(id="summer1_ddg_24" src="/images/summer1_ddg/efdcc98588b214e5d99077b6e32e76ddf408da32.jpg")
    img(id="summer1_ddg_25" src="/images/summer1_ddg/f0290acfbb87f7f16a34aea92a6543256bd88657.jpg")
    img(id="summer1_ddg_26" src="/images/summer1_ddg/fa6c5a17c330927a7706d82711f4c8b1dc0eab2d.jpg")
