doctype html
html
  head
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0') 
    link(rel='stylesheet', href='/stylesheets/sofia-pro-soft.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/vote.css')
    script(type="text/javascript", src="/javascripts/vote.js")
  body
    block content