* {
	padding: 0px;
	margin: 0px;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	background-color: #333;
	/*-webkit-transform: translateZ(0);*/
	-webkit-backface-visibility: hidden;
}

@media all and (orientation: landscape) {
	* {
		font-size: 11pt;
	}
}

@media all and (orientation: portrait) {
	* {
		font-size: 18pt;
	}
}

@media all and (min-width: 768px) and (orientation: landscape) {
	* {
		font-size: 18pt;
	}
}

@media all and (min-width: 768px) and (orientation: portrait) {
	* {
		font-size: 24pt;
	}
}

@media all and (min-width: 1200px) and (orientation: landscape) {
	* {
		font-size: 28pt;
	}
}

@media all and (min-width: 1024px) and (orientation: portrait) {
	* {
		font-size: 36pt;
	}
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*:focus { outline:none; }

html, body {
	overflow:hidden;
}

.hidden {
	display: hidden;
}

.background {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 0px;
	height: 0px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	text-align: center;
	z-index: 2;
	background-image: url('../images/UIbase_demobit.png')
}

.asset {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 0px;
	height: 0px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left top;
	z-index: 15;
	background-color: transparent;
}

canvas, img {
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.lag {
	color: yellow;
	position: absolute;
	top: 0px;
	left:0px;
}

body {
  color: #404040;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

input[type="range"] {
  position: absolute;
  transform: rotate(270deg);
  margin-top: 75%;
  width: 75%;
  /*-moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);*/
  -webkit-appearance: none;
  //border: 1px solid white;
}

input[type=range]::-webkit-slider-runnable-track, -moz-range-track
{
    width: 300px;
    height: 10px;
    background: #ddd;
    border: none;
    border-radius: 10px;
}
input[type=range]::-webkit-slider-thumb, -moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 33px;
    width: 50px;
    border-radius: 20%;
    background: red;
    margin-top: -12px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #aaa;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

#outp {
	z-index: 5;
	background-color: transparent;
	font-family: 'Roboto';
	color: white; 
	position: absolute;
	top: 0.5em;
	left: 0px;
	margin: auto;
	text-align: center;
	width: 100%;
}

#inp {
	background-image: url('../images/fader_349_demobit.png');
}
