
body {
	/*background-color: #00d68f;*/
	background-color: #00082f;
	font-family:ff-tisa-web-pro;
	color: #fff;
}

:root {
	--border: #404663;
	--cw-text: #000
}

div.bk {position:absolute;font-size:0px;border-top: var(--border) 36px solid;width:36px;height:36px;}
div.hb {position:absolute;font-size:0px;border-top: var(--border) 2px solid;width:37px;}
div.hb0 {position:absolute;font-size:0px;border-top: var(--border) 2px solid;width:39px;}
div.vb {position:absolute;font-size:0px;border-left: var(--border) 2px solid;height:37px;}
div.vb0 {position:absolute;font-size:0px;border-left: var(--border) 2px solid;height:39px;}
div.hr {position:absolute;font-size:0px;border-top: var(--border) 1px solid;}
div.hr {position:absolute;font-size:0px;border-top: var(--border) 1px solid;}
div.vr {position:absolute;font-size:0px;border-left: var(--border) 1px solid;}
div.nu {position:absolute;font-size:8px;width:12px;height:12px;color: var(--cw-text);z-index:21;}
div.lt {position:absolute;text-align:center;width:36px;}

input {
	position:relative;
	top:-34px;
	border: 2px solid transparent;
	z-index: 20;
	width: 22px;
	height: 28px;
	left: 7px;
	text-transform:uppercase;
	font-family:ff-tisa-web-pro;
	font-size: 16pt;
	padding:0px;
	margin:0px;
	caret-color: transparent;
	background-color: transparent;
	text-align: center;
	color: var(--cw-text);
}

input:focus{
	outline:none;
	border-bottom: 2px solid black;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

.maintable{
	margin-left: 1em;
	background-color: #00082f;
	color: #fff;
	border: 1px solid var(--border);
}

div.hints{
	float:left;
	overflow-y:scroll;
	height:100%;
	width:50%;
}

div.hints tr.highlight {
	background: #43a5ff;
	color: #00082f;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr {
display: block;
background-color: #00082f;
color: #fff;
}

td {
/* Behave  like a "row" */
border: none;
border-bottom: 1px solid #404663;
position: relative;
}

td:before {
/* Now like a table header */
position: absolute;
/* Top/left values mimic padding */
top: 6px;
left: 6px;
width: 45%;
padding-right: 10px;
white-space: nowrap;
}

thead tr {
position: absolute;
top: -9999px;
left: -9999px;
}

div.hints{
float:left;
overflow-y:scroll;
height:100%;
width:100%;
}
}