* {
	padding: 0px;
	margin: 0px;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	background-color: #000;
	/*-webkit-transform: translateZ(0);*/
	-webkit-backface-visibility: hidden;
	background-color: transparent;
	font-family: 'Roboto';
}

*:focus { outline:none; }

html, body {
	overflow:hidden;
}

.hidden {
	display: none;
}

canvas, img {
	position: absolute;
	top: 0px;
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#words {
	position: absolute;
	top: 5%;
	width: 100%;
	color: #ff75f0;
	text-align: center;
	margin: auto;
	font-size: 3em;
	z-index: 200;
    text-shadow: 0 0 3px #effe9b, 0 0 5px #effe9b, 0 0 8px #effe9b, 0 0 10px #effe9b, 0 0 13px #effe9b;
	background-color: transparent;
}

#fps {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 20px;
	color: #ff75f0;
	text-shadow: 0 0 3px #effe9b, 0 0 5px #effe9b, 0 0 8px #effe9b;
	z-index: 200;
	background-color: transparent;
}

.correct {
	background-color: #6ceacb;
}

.w3-green,.w3-hover-green:hover{
	color: #EFFE9B;
	background-color:#603849!important;
	text-align: center;
	margin: auto;
	border-radius: 12px;
	width: 0%;
	font-size: 0.5em;
	margin-bottom: 29px;
}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{
	background-color:transparent;
	width: 70%;
	margin: auto;
	text-align: center;
	border-radius: 12px;
}

.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}


#icon1 {
	position: absolute;
	top: 18%;
	left: 30%;
}

#icon2 {
	position: absolute;
	top: 18%;
	left: 40%;
}

#icon3 {
	position: absolute;
	top: 18%;
	left: 50%;
}

#icon4 {
	position: absolute;
	top: 18%;
	left: 60%;
}

#e20years {
	position: absolute;
	top: 22%;
}
