* {
	padding: 0px;
	margin: 0px;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	background-color: #000;
	/*-webkit-transform: translateZ(0);*/
	-webkit-backface-visibility: hidden;
}

*:focus { outline:none; }

html, body {
	overflow:hidden;
}

.hidden {
	display: hidden;
}

.background {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 0px;
	height: 0px;
	background-image: url('/images/pattern-optimized.png');
	background-color: #EFFE9B;
	background-position: center top;
	text-align: center;
	z-index: 2;
}

.btn {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 0px;
	height: 0px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left top;
	z-index: 21;
	cursor: pointer;
	text-align: center;
	border-radius: 12px;
}

.asset {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 0px;
	height: 0px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left top;
	z-index: 15;
	background-color: transparent;
}

canvas, img {
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.lag {
	color: yellow;
	position: absolute;
	top: 0px;
	left:0px;
}

.btn_on {
	background-color: #00BFD6;
}

.btn_off {
	color: #EFFE9B;
	background-color: #333333;
}

.value {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 0px;
	height: 0px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left top;
	z-index: 18;
	background-color: transparent;
	text-align: center;
	color: #FFF;
	font-size: 2em;
}

.btn span {
	font-family: 'Roboto';
	color: inherit;
	background-color: transparent;
	display: inline-block;
    vertical-align: middle;
    line-height: 16px;
	padding-left: 8px;
	padding-right: 8px
}
